body {
    background-color: black;
    color: white;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h1 {
            width: 100%;
            text-align: center;
        }
        svg {
            padding-right: 20px;
        }
    }

    
}

.index-form {
    padding-top: 15%;
    padding-right: 2%;
    form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        input {
            font-size: large;
            background-color: rgb(54, 54, 54);
            color: white;
        }
        button {
            background-color: rgb(54, 54, 54);
            color: white;
        }
    }
}

.container_component {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

    h1 {
        align-self: center;
        font-size: 40px;
        text-transform: capitalize;
        font-style: italic;
    };
    h2 {
        padding: 0 2% 0;
    }
}

.Phonetics_component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid grey;
}

.Meaning_component {
    width: 100%;
    display: flex;
    padding: 0 3% 0;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    border: 1px solid grey;
}