body {
    background-color: black;
    color: white;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h1 {
            width: 100%;
            text-align: center;
        }
        svg {
            padding-right: 20px;
        }
    }

    
}

.index-form {
    
}

.container_component {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Phonetics_component {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid grey;
}